.footer {
  background: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-text);
  text-decoration: none;
}
.footer__logo-text {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-text);
  text-decoration: none;
}
.footer__address {
  margin-top: 20px;
}
.address__list p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--second-text);
}
.address__item {
  margin-bottom: 9px;
}
.address__link {
  display: block;
  color: var(--nav-grey-text);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue-text);
  }
}
.footer__join {
  margin-left: 70px;
}
.footer__join p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--second-text);
}
.join__list {
  list-style-type: none;
  display: flex;
}
.join__item + .join__item {
  margin-left: 10px;
}
.join__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--icon-background-footer);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: var(--blue-text);
    cursor: pointer;
  }
}
.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--second-text);
}
.footer__subscribe {
  margin-left: auto;
}
.footer__subscribe p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--second-text);
}
.footer__yourmail {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer__yourmail input {
  color: var(--second-text);
  width: 358px;
  height: 50px;
  padding: 15px 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-dark);
}
.footer__button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 12px;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.footer__button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--second-text);
}
.footer__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
