.hero {
  margin: 0 auto;
  background: var(--background-dark);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/image-hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: var(--background-dark);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/image-hero-mob-2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/image-hero-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 118px;
    padding-bottom: 118px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: var(--background-dark);
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/image-hero-tab-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: var(--background-dark);
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Img-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.hero__text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text);
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text);
  }
}
.hero__button {
  border: none;
  width: 200px;
  height: 50px;
  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--background-button);
  }
}
.hero__button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-text);
  letter-spacing: 0.06em;
}
