.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.modal {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: var(--general-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--blue-text);
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: var(--blue-text);
  }
}
.modal__form-field {
  position: relative;
  display: block;
}
.modal__title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-text);
}
.form__text-name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-text);
}
.form__input-name {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon-human {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  fill: var(--general-text);
  transform: translateY(20%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:hover .form__input-name,
.form__input-name:hover,
.form__input-name:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.modal__form-field:hover .form__icon-human,
.form__input-name:hover .form__icon-human,
.form__input-name:focus + .form__icon-human {
  fill: var(--blue-text);
}
.form__text-phone {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-text);
}
.modal__form-field:hover .form__input-phone,
.form__input-phone:hover,
.form__input-phone:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.modal__form-field:hover .form__icon-phone,
.form__input-phone:hover .form__icon-phone,
.form__input-phone:focus + .form__icon-phone {
  fill: var(--blue-text);
}

.form__input-phone {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon-phone {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  transform: translateY(20%);
  fill: var(--general-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text-mail {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-text);
}
.form__input-mail {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:hover .form__input-mail,
.form__input-mail:hover,
.form__input-mail:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.modal__form-field:hover .form__icon-mail,
.form__input-mail:hover .form__icon-mail,
.form__input-mail:focus + .form__icon-mail {
  fill: var(--blue-text);
}
.form__icon-mail {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  transform: translateY(20%);
  fill: var(--general-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text-comment {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey-text);
}
.form__comment-field {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
}
.form__label-checkbox {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--general-text);
    border-radius: 2px;
    margin-right: 8px;
  }
}
.form__input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked + .form__label-checkbox::before {
    border: none;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.form__link-termspack {
  line-height: calc(24 / 14);
  color: var(--blue-text);
  margin-left: 3px;
}
.form__button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 31px;
  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: var(--background-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
.form__text-button {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--second-text);
}

@media screen and (min-width: 1200px) {
  .form__button {
    margin-top: 30px;
  }
  .form__label-checkbox {
    line-height: calc(24 / 14);
  }
  .modal__title {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
  .modal {
    width: 528px;
    height: 581px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;
    &:hover {
      opacity: 1;
    }
  }
}
