.team-members {
  list-style: none;
  background: var(--background-white);
}
.team-members h4 {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--general-text);
}
.team-members h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--general-text);
}
.team-members p {
  margin-bottom: 16px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--grey-text);
}
.team-members__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-members__item {
  background: var(--second-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:hover .social__icon-instagram,
  &:hover .social__icon-twitter,
  &:hover .social__icon-facebook,
  &:hover .social__icon-linkedin {
    background-color: var(--blue-text);
    fill: var(--second-text);
    cursor: pointer;
  }
}
.social__icon-instagram {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
  background-color: var(--second-text);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon-twitter {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
  background-color: var(--second-text);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon-facebook {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
  background-color: var(--second-text);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
  background-color: var(--second-text);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-one {
  width: 100%;
  background-image: url(../images/igor-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/igor-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    background-image: url(../images/igor-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/igor-tab-2x.jpg);
    }
  }
}
.team-member-two {
  width: 100%;
  background-image: url(../images/olga-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/olga-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    background-image: url(../images/olga-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/olga-tab-2x.jpg);
    }
  }
}
.team-member-three {
  width: 100%;
  background-image: url(../images/nikolay-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/nikolay-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    background-image: url(../images/nikolay-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/nikolay-tab-2x.jpg);
    }
  }
}
.team-member-four {
  width: 100%;
  background-image: url(../images/mike-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mike-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    background-image: url(../images/mike-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mike-tab-2x.jpg);
    }
  }
}
.team-members__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    align-items: baseline;
  }
}
.team-members__item-one {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
  }
}
.team-members__item-two {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }
}
.team-members__item-three {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
    margin-bottom: 0px;
  }
}
.team-members__item-four {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-members h4 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    color: var(--general-text);
  }
  .team-members__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .team-members__item {
    margin-bottom: 0px;
  }
  .team-members__item + .team-members__item {
    margin-left: 30px;
  }
  .team-member-one {
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/igor-2x.jpg);
    }
  }
  .team-member-two {
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/olga-2x.jpg);
    }
  }
  .team-member-three {
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/nikolay-2x.jpg);
    }
  }
  .team-member-four {
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mike-2x.jpg);
    }
  }
}
