h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.html {
  box-sizing: border-box;
}
